<section class="px-5 tablet:px-10 py-20 relative">
    <div class="flex flex-wrap tablet:mb-10 -mx-5/2">
        <div class="w-full tablet:w-5/12 desktop:w-1/2 px-5/2 ml-0 tablet:ml-1/12">
            <p class="text-larger">
                {{ post.title }}
            </p>
        </div>
        <div class="w-full tablet:w-5/12 desktop:w-1/3 px-5/2 flex justify-start tablet:justify-between">
            <div class="mr-10 tablet:mr-0">
                <p class="text-large" data-aos="fade-left">
                    Cijfers:<br>
                    {{ post.meta('description_numbers').cijfers }}
                </p>
            </div>
            <div class="mr-10 tablet:mr-0">
                <p class="text-large" data-aos="fade-left" data-aos-delay="200">
                    Totaal m2:<br>
                    {{ post.meta('description_numbers').total_area }}
                </p>
            </div>
            <div class="mr-10 tablet:mr-0">
                <p class="text-large" data-aos="fade-left" data-aos-delay="400">
                    Getallen:<br>
                    {{ post.meta('description_numbers').getallen }}
                </p>
            </div>
        </div>
    </div>

    <div class="flex flex-wrap -mx-5/2">
        <div class="w-11/12 tablet:w-10/12 desktop:w-2/3 px-5/2 ml-0 tablet:ml-1/12">
            <p class="text-larger" data-aos="fade-up">
                {{ post.meta('description_large_text') }}
            </p>
        </div>
    </div>

    <div class="flex flex-wrap -mx-5/2">
        <div class="w-11/12 tablet:w-10/12 desktop:w-2/3 px-5/2 ml-0 tablet:ml-1/12">
            <p class="text-large" data-aos="fade-up" data-aos-delay="200">
                {{ post.meta('description_normal_text') }}
            </p>
        </div>
    </div>
</section>