<section class="px-5 tablet:px-10 py-16 relative">
    <div class="flex flex-wrap -mx-5/2 mt-10">
        <div class="w-full tablet:w-7/12 desktop:w-5/12 px-5/2">
            <p class="text-larger">
                {{ about }}
            </p>
        </div>
        <div class="w-full tablet:w-5/12 px-5/2 flex flex-wrap justify-start tablet:justify-around text-large mb-10 tablet:mb-16 desktop:mb-20 ml-0 desktop:ml-1/12">
            <div class="flex flex-wrap items-end mr-20 tablet:mr-auto">
                <div data-aos="fade-left">Assets<br>
                    {{ numbers.assets }}
                </div>
            </div>
            <div class="flex flex-wrap items-end mr-20 tablet:mr-auto">
                <div data-aos="fade-left" data-aos-delay="200">Totaal m2<br>{{ numbers.total_area }}m2</div>
            </div>
            <div class="flex flex-wrap items-end mr-auto">
                <div data-aos="fade-left" data-aos-delay="400">Klanten<br>{{ numbers.clients }}</div>
            </div>
        </div>
    </div>

    {% set index = 0 %}

    {% if projects | length > 0 %}

        <div class="flex flex-wrap -mx-5/2">
            <div class="flex flex-wrap w-full tablet:w-5/12 desktop:w-1/3 px-5/2 text-large">

                <div class="w-1/2 tablet:w-full mb-5 pr-5/2 tablet:px-0">
                    <a href="{{ projects[index].link }}">
                        <div class="h-full px-5 hover:pr-2 py-5 bg-white flex flex-wrap content-between">
                            <div class="w-full">
                                {{ projects[index].title }}<br>{{ projects[index].meta('description_numbers').total_area }}m2
                            </div>
                            <div class="w-full h-4">
                                <img src="{{ theme.link }}/assets/images/arrow-right.svg" class="block ml-auto mr-0">
                            </div>
                        </div>
                    </a>
                </div>

                {% if projects | length > 1 %}
                    {% set index = 1 %}
                    <div class="w-1/2 tablet:w-full mb-5 pl-5/2 tablet:px-0">
                        <a href="{{ projects[index].link }}">
                            <div class="h-full px-5 hover:pr-2 py-5 bg-white flex flex-wrap content-between">
                                <div class="w-full">
                                    {{ projects[index].title }}<br>{{ projects[index].meta('description_numbers').total_area }}
                                </div>
                                <div class="w-full h-4">
                                    <img src="{{ theme.link }}/assets/images/arrow-right.svg" class="block ml-auto mr-0">
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}

            </div>
            {% if projects | length > 2 %}
                {% set index = 2 %}
                {# <div class="w-1/12"></div> #}
                <div class="w-11/12 tablet:w-7/12 mb-5 px-5/2 text-large ml-1/12 tablet:ml-0">
                    <a href="{{ projects[index].link }}">
                        <img src="{{ Image(projects[index].meta('header_background')).src }}" class="block w-full h-auto">
                        <div class="px-5 hover:pr-2 py-5 bg-white flex flex-wrap justify-between items-end">
                            <div>
                                {{ projects[index].title }}<br>{{ projects[index].meta('description_numbers').total_area }}
                            </div>
                            <div class="w-4 h-4">
                                <img src="{{ theme.link }}/assets/images/arrow-right.svg" class="block ml-auto mr-0">
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        </div>

        {% if projects | length > 3 %}
            {% set index = 3 %}
            <div class="flex flex-wrap flex-col-reverse tablet:flex-row -mx-5/2">
                <div class="w-11/12 tablet:w-7/12 mb-5 px-5/2 text-large">
                    <a href="{{ projects[index].link }}">
                        <img src="{{ Image(projects[index].meta('header_background')).src }}" class="block w-full h-auto">
                        <div class="px-5 hover:pr-2 py-5 bg-white flex flex-wrap justify-between items-end">
                            <div>
                                {{ projects[index].title }}<br>{{ projects[index].meta('description_numbers').total_area }}
                            </div>
                            <div class="w-4 h-4">
                                <img src="{{ theme.link }}/assets/images/arrow-right.svg" class="block ml-auto mr-0">
                            </div>
                        </div>
                    </a>
                </div>

                {% if projects | length > 4 %}
                    {% set index = 4 %}
                    <div class="flex flex-wrap w-full tablet:w-5/12 desktop:w-1/3 px-5/2 text-large">
                        <div class="w-1/2 tablet:w-full mb-5 pr-5/2 tablet:px-0">
                            <a href="{{ projects[index].link }}">
                                <div class="h-full px-5 hover:pr-2 py-5 bg-white flex flex-wrap content-between">
                                    <div class="w-full">
                                        {{ projects[index].title }}<br>{{ projects[index].meta('description_numbers').total_area }}
                                    </div>
                                    <div class="w-full h-4">
                                        <img src="{{ theme.link }}/assets/images/arrow-right.svg" class="block ml-auto mr-0">
                                    </div>
                                </div>
                            </a>
                        </div>

                        {% if projects | length > 5 %}
                            {% set index = 5 %}
                            <div class="w-1/2 tablet:w-full mb-5 pl-5/2 tablet:px-0">
                                <a href="{{ projects[index].link }}">
                                    <div class="h-full px-5 hover:pr-2 py-5 bg-white flex flex-wrap content-between">
                                        <div class="w-full">
                                            {{ projects[index].title }}<br>{{ projects[index].meta('description_numbers').total_area }}
                                        </div>
                                        <div class="w-full h-4">
                                            <img src="{{ theme.link }}/assets/images/arrow-right.svg" class="block ml-auto mr-0">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

    {% endif %}
</section>