{% if post.meta('home_references') | length > 0 %}
<section class="px-5 tablet:px-10 py-16 bg-green/2">
    <div class="w-full">
        <h2 class="text-larger">Referenties</h2>
    </div>
    <div class="flex flex-wrap -mx-5/2 mt-16 slider-wrapper">
        <div class="w-5/6 tablet:w-2/3 desktop:w-1/2 px-5/2 ml-0 tablet:ml-2/12 desktop:ml-3/12">
            <div class="slider -mx-5">
                {% for item in post.meta('home_references') %}
                    <div class="slide px-5">
                        <p class="text-large mb-10">
                            {{ item.quote }}
                        </p>
                        <p class="text-large ml-5">
                            {% if item.full_name %}
                                <span class="reference-name font-bold">
                                    {{ item.full_name }}
                                </span>
                                <br>
                                    {{ item.organisation }}
                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="w-2/12 tablet:w-1/12 px-5/2 ml-0 tablet:ml-1/12 desktop:ml-2/12 flex flex-wrap">
                <div class="w-full h-full pb-40 flex flex-wrap content-center slider-navigation">
                    {% for item in post.meta('home_references') %}
                        <div class="w-full py-5 text-right tablet:text-center slider-button" data-slide="{{ loop.index0 }}">
                            <a>0{{ loop.index }}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="w-full relative ">
        <div class="absolute pin bg-green/2 z-10"></div>
        <div class="w-full relative z-0" style="height: 220px; background: url({{ Image(post.footer_background).src }}); background-position: center; background-size: cover;"></div>
    </section>
{% endif %}