<section class="px-5 tablet:px-10 py-8 w-full bg-white border-b border-green">
    <div class="relative w-full expander-wrapper">
        <div class="flex">
            <div class="w-5/6 h-10">
                <h2 class="text-larger relative z-20 expander-button font-normal capitalize h-10" data-target="{{ title|slug }}" style="line-height: 40px">{{ title }}</h2>
            </div>
        </div>
        <div id="{{ title|slug }}" class="expander-target">
            <div class="flex flex-wrap my-16 tablet:my-32 desktop:my-40">
                <div class="w-full tablet:w-5/6 desktop:w-3/4 widescreen:w-1/2 ml-0 tablet:ml-1/12">
                    <p class="text-larger mb-0">
                        {{ text }}
                    </p>
                </div>
            </div>
        </div>
        <div class="absolute w-full pin-b">
            <div class="flex flex-wrap justify-end">
                <div class="w-1/12 h-10 expander-button relative" data-target="{{ title|slug }}">
                    <img src="{{ theme.link }}/assets/images/minus.svg" class="absolute minus w-6 tablet:w-8" style="height: 2px">
                    <img src="{{ theme.link }}/assets/images/minus.svg" class="absolute plus w-6 tablet:w-8" style="height: 2px">
                </div>
                <div class="w-1/12 h-10"></div>
            </div>
        </div>
    </div>
</section>