{% block html_head_container %}
    {% include 'header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="mx-auto bg-green-light text-green-dark font-sans {{body_class}}" data-template="base.twig">
{% block header %}
    <header class="flex">
        <div class="wrapper">
            <h1 class="hdr-logo" role="banner">
                <a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
            </h1>
            <nav id="nav-main" class="nav-main" role="navigation">
                {% include "partials/menu.twig" with {
                    'menu' : menu.get_items
                } %}
            </nav>
            <!-- #nav -->
        </div>
    </header>
{% endblock %}

{% block content %}
    Sorry, no content
{% endblock %}

{% block footer %}
    {% include 'footer.twig' with {
        'mail': post.footer_mail,
        'phone': post.footer_phone,
        'address': post.footer_address,
        'text': post.footer_text
    } %}
{% endblock %}

{{ function('wp_footer') }}


<script src="{{ theme.link }}/dist/bundle.js"></script>
</body>
</html>